* {
    box-sizing: border-box;
}

body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: monospace;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.mobile-container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331A;
    border-radius: 3px ;
    overflow: hidden;
    width: 400px;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.5rem 1rem;
}

header button {
    background-color: transparent;
    border: none;
    color: rgb(138, 129, 141);
    font-size: 1.5rem;
    margin-left: 10px;
}

.fav-container {
    background-color: rgb(233, 199, 255);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.fav-meals li {
    cursor: pointer;
    position: relative;
    width: 75px;
    margin: 5px;
}

.fav-meals li .clear {
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    border: none;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    opacity: 0;
}

.fav-meals li:hover .clear {
    opacity: 1;
}

.fav-meals li img {
    border: 2px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 10px #3333331A;
    object-fit: cover;
    width: 70px;
    height: 70px;
}

.fav-meals li span {
    width: 75px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
}

.meal {
    border-radius: 3px;
    box-shadow: 0 0 10px #3634341a;
    margin: 1.5rem;
    overflow: hidden;
    cursor: pointer;
}

.meal-header {
    position: relative;
}

.meal-header img {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

.meal-header .random {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 0.5rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.meal-body h4 {
    margin: 0;
}

.meal-body .fav-btn {
    border: none;
    background-color: transparent;
    color: rgb(197, 188, 188);
    cursor: pointer;
    font-size: 1.2rem;
} 

.meal-body .fav-btn.active {
    color: rebeccapurple;
} 

.popup-container {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.popup-container.hidden {
    opacity: 0;
    pointer-events: none;
}

.popup {
    background-color: #fff;
    border-radius: 5px;
    padding: 0 2rem;
    max-width: 400px;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    position: relative;
}

.popup .close-popup {
    background-color: transparent;
    position: absolute;
    border: none;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.meal-info h1 {
    text-align: center;
}